.img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.pos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: white;
}
/* .body_container{
    background-color:#8F5541 ;
} */
/* .pos:hover{
    background-color: #2C3E50 ;
    width: 500px;
    height: 500px;
    color: #F39C12;
} */

.content{
    /* width: 100%;
    align-content: center; */
    display: flex;
    justify-content: center;
}
.mouse{
    width: 100%;
    height: 100%;
    animation: moveUpDown 2s ease infinite;
}

.click{
    font-size: 12px;
    padding-top: 8px;
}

/* .main1{
    cursor: pointer;
} */
.main{
    cursor: pointer;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* 위로 10px 이동 */
    }
    100% {
        transform: translateY(0);
    }
}


